{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}

  {% if user.is_authenticated %}
    <h3>Поздравляем!</h3>
    <br>
    <h4>Пользователь {{user.username}} подтвержден.</h4>
  {% else %}
    <h3>Верификация не пройдена.</h3>
  {% endif %}
  <br>
    Автоматический переход на главную страницу через 5 секунд. если не хотите ждать, нажмите на ссылку
  <button class="btn btn-round form-control">
    <a href="{% url 'index' %}" class="">Перейти на главную страницу</a>
  </button>

<script>
    function redirect(){
       window.location.href = "{% url 'index' %}";
    }

    setTimeout(redirect, 5000);
</script>

{% endblock %}


